<!doctype html>
<html>
<head>
    <title>KREDA Professional</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="KREDA Professional"/>

    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>

    <link rel="stylesheet" href="{{ PathBase }}/Library/Bootstrap/3.2.0/dist/css/bootstrap.min.css" property="">
    <link rel="stylesheet" href="{{ PathBase }}/Library/Bootflat/2.0.4/bootflat/css/bootflat.min.css" property="">
    <link rel="stylesheet" href="{{ PathBase }}/Library/Twitter.Typeahead.Bootstrap/1.0.0/typeaheadjs.css" property="">
    <link rel="stylesheet"
          href="{{ PathBase }}/Library/Bootstrap.DateTimePicker/3.1.3/build/css/bootstrap-datetimepicker.min.css"
          property="">
    <link rel="stylesheet" href="{{ PathBase }}/Sphere/Client/Style/Style.css" property="">

    <link rel="shortcut icon" type="image/x-icon" href="{{ PathBase }}/favicon.ico"/>
    <link rel="apple-touch-icon" href="{{ PathBase }}/apple-touch-icon.png"/>

    <script src="{{ PathBase }}/Library/Require.Js/2.1.15/require.min.js"></script>
    <script type="text/javascript" property="">
        require.config( {
            {#baseUrl: '{{ PathBase }}',#}
            shim: {
                "ModPicker": {"deps": ['jQuery', 'Moment']},
                "ModSelecter": {"deps": ['jQuery']},
                "ModStepper": {"deps": ['jQuery']},
                "ModCompleter": {"deps": ['jQuery']},

                "Bootstrap": {"deps": ['jQuery']}
            },
            paths: {
                ModPicker: '{{ PathBase }}/Library/Bootstrap.DateTimePicker/3.1.3/build/js/bootstrap-datetimepicker.min',
                ModSelecter: '{{ PathBase }}/Library/jQuery.Selecter/3.2.3/jquery.fs.selecter.min',
                ModStepper: '{{ PathBase }}/Library/jQuery.Stepper/3.0.8/jquery.fs.stepper.min',
                ModCompleter: '{{ PathBase }}/Library/Twitter.Typeahead/0.10.5/dist/typeahead.bundle.min',

                jQuery: '{{ PathBase }}/Library/jQuery/1.11.1/dist/jquery.min',
                Bootstrap: '{{ PathBase }}/Library/Bootstrap/3.2.0/dist/js/bootstrap.min',
                Moment: '{{ PathBase }}/Library/Moment.Js/2.8.4/min/moment-with-locales.min',
                Check: '{{ PathBase }}/Library/Bootflat/2.0.4/bootflat/js/icheck.min',
                Css: '{{ PathBase }}/Library/Require.Css/0.1.8/css.min'
            },
            waitSeconds: 120
        } );
        //require( ['Css!Twitter.Typeahead.Bootstrap/1.0.0/typeaheadjs'] );
        //require( ['Css!Bootstrap.DateTimePicker/3.1.3/build/css/bootstrap-datetimepicker.min'] );
    </script>
</head>
<body>

{{ PositionNavigation }}

{{ PositionContent }}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 footer  small">
            <div class="clearfix">
                <div class="footer-logo">
                    <a href="#">KREDA&nbsp;<img src="{{ PathBase }}/Sphere/Client/Style/Resource/logo_kreide.png"
                                                width="105"
                                                height="61"></a>
                </div>
                <dl class="footer-nav">
                    <dt class="nav-title">Mandanten</dt>
                    <dd class="nav-item">
                        <a href="http://www.ege-annaberg.de/">Evangelische Schulgemeinschaft Erzgebirge e.V. (EGE)</a>
                    </dd>
                    <dd class="nav-item">
                        <a href="http://eszc.de/">Freie Evangelische Schulverein Chemnitz e.V. (ESZC)</a>
                    </dd>
                </dl>
                <dl class="footer-nav">
                    <dt class="nav-title">Applikation</dt>
                    <dd class="nav-item">
                        <a href="{{ PathBase }}/Client/Sphere/Assistance/Impressum">Impressum</a>
                    </dd>
                    <dd class="nav-item">
                        <a href="http://www.haus-der-edv.de">Support</a>
                    </dd>
                </dl>
                <dl class="footer-nav">
                    <dt class="nav-title">Hilfe</dt>
                    <dd class="nav-item">
                        <a href="{{ PathBase }}/Client/Sphere/Assistance">Dokumentation</a>
                    </dd>
                </dl>
            </div>
            <div class="footer-copyright text-center">
                © 2014 - {{ "now"|date("Y") }} | Mandant: {{ PositionConsumer }} | Erstellt in {{ PositionRuntime }}
                <div>
                    <br/>
                    {{ PositionDebugger }}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require( ['Bootstrap'] );
</script>
</body>
</html>


