<!doctype html>
<html>
<head>
    <title>KREDA Professional</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="KREDA Professional"/>

    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>

    <link rel="stylesheet" href="{{ PathBase }}/Library/Twitter.Typeahead.Bootstrap/1.0.0/typeaheadjs.css" property="">
    <link rel="stylesheet"
          href="{{ PathBase }}/Library/Bootstrap.DateTimePicker/3.1.3/build/css/bootstrap-datetimepicker.min.css"
          property="">
    <link rel="stylesheet" href="{{ PathBase }}/Library/Bootstrap/3.2.0/dist/css/bootstrap.min.css" property="">
    <link rel="stylesheet" href="{{ PathBase }}/Library/Bootflat/2.0.4/bootflat/css/bootflat.min.css" property="">
    <link rel="stylesheet" href="{{ PathBase }}/Sphere/Client/Style/Style.css" property=""/>

    <link rel="shortcut icon" type="image/x-icon" href="{{ PathBase }}/favicon.ico"/>
    <link rel="apple-touch-icon" href="{{ PathBase }}/apple-touch-icon.png"/>

</head>
<body>

{{ PositionNavigation }}

{{ PositionContent }}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 footer  small">
            <div class="clearfix">
                <div class="footer-logo">
                    <a href="#">KREDA&nbsp;<img src="/Sphere/Client/Style/Resource/logo_kreide.png" width="105"
                                                height="61"></a>
                </div>
                <dl class="footer-nav">
                    <dt class="nav-title">Mandanten</dt>
                    <dd class="nav-item">
                        <a href="http://www.ege-annaberg.de/">Evangelische Schulgemeinschaft Erzgebirge e.V. (EGE)</a>
                    </dd>
                    <dd class="nav-item">
                        <a href="http://eszc.de/">Freie Evangelische Schulverein Chemnitz e.V. (ESZC)</a>
                    </dd>
                </dl>
                <dl class="footer-nav">
                    <dt class="nav-title">Applikation</dt>
                    <dd class="nav-item">
                        <a href="#">Impressum</a>
                    </dd>
                    <dd class="nav-item">
                        <a href="http://www.haus-der-edv.de">Support</a>
                    </dd>
                </dl>
            </div>
            <div class="footer-copyright text-center">© 2014 - Mandant: {{ PositionConsumer }} - Erstellt
                in {{ PositionRuntime }}</div>

            {#<div>#}
            {#{{ PositionDebugger }}#}
            {#</div>#}
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="{{ PathBase }}/Library/jQuery/1.11.1/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="{{ PathBase }}/Library/Bootstrap/3.2.0/dist/js/bootstrap.min.js"></script>
<script src="{{ PathBase }}/Library/Moment/2.8.4/min/moment-with-locales.min.js"></script>
<script src="{{ PathBase }}/Library/Bootstrap.DateTimePicker/3.1.3/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{ PathBase }}/Library/Twitter.Typeahead/0.10.5/dist/typeahead.bundle.min.js"></script>
<!-- Bootflat's JS files.-->
<script src="{{ PathBase }}/Library/Bootflat/2.0.4/bootflat/js/icheck.min.js"></script>
<script src="{{ PathBase }}/Library/Bootflat/2.0.4/bootflat/js/jquery.fs.selecter.min.js"></script>
<script src="{{ PathBase }}/Library/Bootflat/2.0.4/bootflat/js/jquery.fs.stepper.min.js"></script>
<script type="text/javascript">
    jQuery( function()
        {
            jQuery( 'input[type="text"][data-date-format]' ).datetimepicker();
        }
    );
</script>
</body>
</html>


