<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th colspan="2">Account</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="col-xs-4 text-right">Benutzername:</th>
            <td class="text-left">{{ tblAccount.getUsername }}</td>
        </tr>
        <tr>
            <th class="col-xs-4 text-right">Zugangstyp:</th>
            <td class="text-left">{{ tblAccount.getTblAccountTyp.getName }}</td>
        </tr>
        <tr>
            <th class="col-xs-4 text-right">Berechtigungsstufe:</th>
            <td class="text-left">{{ tblAccount.getTblAccountRole.getName }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
    {% set Person = tblAccount.getServiceManagementPerson %}
    <table class="table">
        <thead>
        <tr>
            <th colspan="2">Benutzerdaten</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="col-xs-4 text-right">Name:</th>
            <td class="text-left">
                {{ Person.getSalutation }}
                {{ Person.getFirstName | utf8_encode }}
                {{ Person.getMiddleName | utf8_encode }}
                {{ Person.getLastName | utf8_encode }}
            </td>
        </tr>
        <tr>
            <th class="col-xs-4 text-right">Geschlecht:</th>
            <td class="text-left">{{ Person.getGender | utf8_encode }}</td>
        </tr>
        <tr>
            <th class="col-xs-4 text-right">Geburtstag:</th>
            <td class="text-left">{{ Person.getBirthday }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
    {% set Consumer = tblAccount.getServiceGatekeeperConsumer %}
    {% set Address = Consumer.getServiceManagementAddress %}
    <table class="table">
        <thead>
        <tr>
            <th colspan="2">Mandant</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="col-xs-4 text-right">Name:</th>
            <td class="text-left">{{ Consumer.getName | utf8_encode }}</td>
        </tr>
        <tr>
            <th class="col-xs-4 text-right">Kürzel:</th>
            <td class="text-left">
                {{ Consumer.getDatabaseSuffix }}
                {% if Consumer.getTableSuffix != Consumer.getDatabaseSuffix %}
                    ({{ Consumer.getTableSuffix }})
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="col-xs-4 text-right">Addresse:</th>
            <td class="text-left">
                {{ Address.getStreetName }}
                {{ Address.getStreetNumber }}
                {{ Address.getPostOfficeBox }}
                <br/>
                {% set City = Address.getTblAddressCity %}
                {{ City.getCode }}
                {{ City.getName }}
                {{ City.getDistrict }}
                <br/>
                {% set State = Address.getTblAddressState %}
                {{ State.getName }}

            </td>
        </tr>
        </tbody>
    </table>
</div>
