<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-xs-1"></div>
        <div class="col-md-8 col-xs-10">
            <h3>{{ StageTitle }}
                <small>{{ StageDescription }}</small>
            </h3>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12 text-left">
                    <div>{{ StageMessage }}</div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 visible-sm visible-md visible-lg text-right">
                    {% if StageMenu is not empty %}
                    <div class="btn-group">
                        {% for Route, Title in StageMenu %}
                            <a href="{{ Route }}" class="btn btn-primary">{{ Title }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <hr/>
            {{ StageContent }}
        </div>
        <div class="col-md-2 col-xs-1"></div>
    </div>
</div>
