<form class="form-horizontal" action="" method="post">

    <h3>
        <small>Zusammenfassung</small>
    </h3>
    <div class="form-group {{ TicketSubjectGroup }}">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-bell"></span>
            </span>
            <input type="text" class="form-control" name="TicketSubject" placeholder="Thema"
                   value="{{ TicketSubjectValue }}"/>
            {{ TicketSubjectFeedbackIcon }}
        </div>
        {{ TicketSubjectFeedbackMessage }}
    </div>

    <h3>
        <small>Problembeschreibung</small>
    </h3>
    <div class="form-group {{ TicketMessageGroup }}">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-comment"></span>
            </span>
            <textarea name="TicketMessage" class="form-control" placeholder="Mitteilung"
                      rows="5">{{ TicketMessageValue }}</textarea>
            {{ TicketMessageFeedbackIcon }}
        </div>
        {{ TicketMessageFeedbackMessage }}
    </div>

    <div class="form-group">
        <div class="input-group">
            <button type="submit" class="btn btn-primary">Ticket eröffnen</button>
        </div>
    </div>
</form>

<div class="alert alert-warning">
    <span class="glyphicon glyphicon-info-sign"></span>
    Bitte teilen Sie uns so genau wie möglich mit wie es zu diesem Problem kam
</div>
