<form class="form-horizontal" action="{{ FormAction }}" method="post">
    {% for GridFormGroup in GridGroupList %}
        {% if( GridFormGroup.getTitle is not empty ) %}
            <h4>{{ GridFormGroup.getTitle }}</h4>
        {% endif %}
        {% for GridFormRow in GridFormGroup.getRowList %}
            <div class="row">
                {% for GridFormCol in GridFormRow.getColList %}
                    <div class="col-md-{{ GridFormCol.Size }}">
                        {% for GridElement in GridFormCol.getElementList %}
                            {{ GridElement }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="form-group">
        <div class="input-group">
            <button type="submit" class="btn btn-primary">{{ FormSubmit }}</button>
        </div>
    </div>
</form>
