<form {% if( Hash is not empty ) %}id="{{ Hash }}"{% endif %}
      action="{{ FormAction }}{% if( Hash is not empty ) %}#{{ Hash }}{% endif %}" method="post">
    {% for GridFormGroup in GridGroupList %}
        {% if( GridFormGroup.getTitle is not empty ) %}
            {{ GridFormGroup.getTitle }}
        {% endif %}
        {% for GridFormRow in GridFormGroup.getRowList %}
            <div class="row">
                {% for GridFormCol in GridFormRow.getColList %}
                    <div class="col-md-{{ GridFormCol.Size }}">
                        {% for GridElement in GridFormCol.getElementList %}
                            {{ GridElement }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
    {% if( FormButtonList|length > 0) %}
        <div class="form-group">
            <div class="btn-group">
                {% for FormButton in FormButtonList %}
                    {{ FormButton }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</form>
