{% if( Title is not empty ) %}
    {{ Title }}
{% endif %}
<table class="table table-bordered table-condensed small">
    {% for GridTableBody in GridBodyList %}
        <tbody>
        {% for Index, GridTableRow in GridTableBody.getRowList %}
            <tr>
                {% for Index, GridTableCol in GridTableRow.getColList %}
                    {% if(Index==0) %}
                        <th style="width:{{ GridTableCol.getWidth }};">{{ GridTableCol }}</th>
                    {% elseif(GridTableCol.getSize>1) and (GridTableCol.getWidth != 'auto') %}
                        <td colspan="{{ GridTableCol.getSize }}"
                            style="width:{{ GridTableCol.getWidth }};">{{ GridTableCol }}</td>
                    {% elseif(GridTableCol.getSize>1) %}
                        <td colspan="{{ GridTableCol.getSize }}">{{ GridTableCol }}</td>
                    {% elseif(GridTableCol.getWidth != 'auto') %}
                        <td style="width:{{ GridTableCol.getWidth }};">{{ GridTableCol }}</td>
                    {% else %}
                        <td>{{ GridTableCol }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    {% endfor %}
</table>
