<form class="form-horizontal" action="" method="post">
    <div class="form-group {{ AccessGroup }}">
        <div class="input-group">
                       <span class="input-group-addon">
                           <span class="glyphicons glyphicons-keys"></span>
                       </span>
            <input type="text" class="form-control" name="Access" placeholder="Name">
            {{ AccessFeedbackIcon }}
        </div>
        {{ AccessFeedbackMessage }}
    </div>
    <div class="form-group">
        <div class="input-group">
            <button type="submit" class="btn btn-primary">Hinzufügen</button>
        </div>
    </div>
</form>

<br/>
<h3>Bestehende Zugriffslevel
    <small>Privilegiengruppen</small>
</h3>

<table id="TableAccessList" class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {% for Access in AccessList %}
        <tr>
            <td>{{ Access.Id }}</td>
            <td class="text-uppercase">{{ Access.Name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    Client.Use( 'ModTable', function()
    {
        jQuery( '#TableAccessList' ).ModTable();
    } )
</script>
