<form class="form-horizontal" action="" method="post">
    <div class="form-group {{ CredentialKeyGroup }}">
        <div class="input-group">
                       <span class="input-group-addon">
                           <span class="glyphicon glyphicon-certificate"></span>
                       </span>
            <input type="password" class="form-control" name="CredentialKey" placeholder="YubiKey">
            {{ CredentialKeyFeedbackIcon }}
        </div>
        {{ CredentialKeyFeedbackMessage }}
    </div>
    <div class="form-group">
        <div class="input-group">
            <button type="submit" class="btn btn-primary">Hinzuf체gen</button>
        </div>
    </div>
</form>

<br/>
<h3>Zertifizierte Hardware-Schl체ssel
    <small>YubiKey</small>
</h3>
<hr/>

<table class="table">
    <thead>
    <tr>
        <th>Ger채te-ID</th>
        <th>Ger채tenummer</th>
        <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
    {% for Token in TokenList %}
        <tr>
            <td>{{ Token.tblToken }}</td>
            <td class="text-uppercase">{{ Token.TokenIdentifier }}</td>
            <td>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
