<form class="form-horizontal" action="" method="post">
    <div class="form-group {{ ConsumerNameGroup }}">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" class="form-control" name="ConsumerName" placeholder="Name des Mandanten"
                   value="{{ ConsumerNameValue }}"/>
            {{ ConsumerNameFeedbackIcon }}
        </div>
        {{ ConsumerNameFeedbackMessage }}
    </div>
    <div class="form-group {{ ConsumerSuffixGroup }}">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-barcode"></span>
            </span>
            <input type="text" class="form-control" name="ConsumerSuffix" placeholder="Kürzel des Mandanten"
                   value="{{ ConsumerSuffixValue }}"/>
            {{ ConsumerSuffixFeedbackIcon }}
        </div>
        {{ ConsumerSuffixFeedbackMessage }}
    </div>
    <div class="form-group">
        <div class="input-group">
            <button type="submit" class="btn btn-primary">Mandant anlegen</button>
        </div>
    </div>
</form>

<table class="table table-responsive table-bordered">
    <thead>
    <tr>
        <th>Name des Mandanten</th>
        <th>Suffix für Datenbanken</th>
        <th>Suffix für Tabellen</th>
    </tr>
    </thead>
    <tbody>
    {% for Consumer in tblConsumer %}
        <tr>
            <td>{{ Consumer.getName }}</td>
            <td {% if Consumer.getDatabaseSuffix is empty %}class="bg-danger"{% endif %}>{{ Consumer.getDatabaseSuffix }}</td>
            <td {% if Consumer.getTableSuffix is empty %}class="bg-danger"{% endif %}>{{ Consumer.getTableSuffix }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
